.container {
    width: 500px;
    height: 800px;
    margin: 0 auto;

    background: #F2F3F4;
}

.main {
    padding: 10px;
}

.operation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
}

.buttons {
    height: 120px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.image {
    width: 200px;
    height: 150px;
}

.cell {
   width: 200px;
   height: 150px;
}

.result {
    overflow: auto;
    max-height: 600px;
    width: 500px;
    margin: 0 auto;

    background: #F2F3F4;
}
